
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.25rem;
}

@media (max-width: 600px) {

  .description{
    text-align: left;
  }

  .description {
    margin-left: 10%;
  }

}
